.app {
  
  background-color: rgb(196, 232, 255);
  width: 100vw;
  height: 100%;
  
}

.post {
  
  border: 5px black;
  align-items: center;
}

.hello {
  border: 5px black;
  align-items: center;
}

.postForm {
  padding: 2em;
  background-color: rgb(230, 230, 230);
  border: 2px solid gray;
  border-radius: 0.4em;
}

.profileText {
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: rgb(230, 230, 230);
}
